<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head th:replace="admin/fragments/head.html :: head(title='List customer')">
  </head>

  <body>
    <nav th:replace="admin/fragments/nav-bar.html :: nav-bar(page = 'customer')"></nav>
    <div class="container-fluid">
      <nav
        th:replace="admin/fragments/side-bar.html :: side-bar(current = 'customer')"
      ></nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <br>
        <a href="/admin/customer/create" class="btn btn-sm btn-outline-secondary">Create Customer</a>
        <hr>
        <h2>List customer</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#Id</th>
                <th>Full Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Identity Card Number</th>
                <th>Contact Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="customer : ${customers}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.fullName}"></td>
                <td th:text="${customer.dateOfBirth}"></td>
                <td th:text="${customer.gender}"></td>
                <td th:text="${customer.identityCardNumber}"></td>
                <td th:text="${customer.contactNumber}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.Address}"></td>
                <td>
                    <a th:href="@{/admin/customer/edit/__${customer.customerId}__}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    <a onclick="return confirm('Are you sure you want to delete this customer?')"
                       th:href="@{/admin/customer/delete/__${customer.customerId}__}"
                       class="btn btn-sm btn-outline-secondary">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- customers pagination -->
<nav aria-label="Pagination" th:if="${customers.totalPages gt 0}">
  <ul class="pagination justify-content-center font-weight-medium">
      <li class="page-item" th:classappend="${customers.number eq 0} ? 'disabled'">
          <a class="page-link svg-icon"
             th:href="@{/admin/customers?page={id}(id=${customers.number lt 2 ? 1 : customers.number})}"
             aria-label="Previous"
             title="Previous Page" rel="tooltip">
              <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
          </a>
      </li>
      <li class="page-item" th:classappend="${i eq customers.number + 1} ? 'active'"
          th:each="i : ${#numbers.sequence( customers.number + 1, customers.totalPages > 10 + customers.number ? customers.number + 10 : customers.totalPages, 1)}">
          <a class="page-link" th:href="@{/admin/customers?page={id}(id=${i})}" th:text="${i}"
             th:title="${'Page '+ i}"
             rel="tooltip"></a>
      </li>
      <li class="page-item disabled" th:if="${customers.number + 10 < customers.totalPages}">
          <a class="page-link svg-icon" href="#">
              <span data-feather="more-horizontal" width="20" height="20"></span>
          </a>
      </li>
      <li class="page-item" th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'">
          <a class="page-link svg-icon" th:href="@{/admin/customers?page={id}(id=${customers.number + 2})}"
             aria-label="Next"
             title="Next Page" rel="tooltip">
              <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
          </a>
      </li>
  </ul>
</nav>
      </main>
    </div>
    <th:block th:replace="admin/fragments/head.html :: js"> </th:block>
  </body>
</html>
