<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/HomeStyle.css">
</head>

<body>
    <div class="banner">
        <div class="logo">
            <p>Furama resort</p>
        </div>
        <div class="user-form">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <div class="container">
        <div class="nav-bar">
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Search</a></li>
              <li><a href="#">Review</a></li>
          </ul>  
        </div>
        <div class="body">
            <div class="section">
                <ul>
                    <li>
                        <a href="#">Section 1</a>
                    </li>
                    <li>
                        <a href="#">Section 2</a>
                    </li>
                    <li>
                        <a href="#">Section 3</a>
                    </li>
                    <li>
                        <a href="#">Section 4</a>
                    </li>
                    <li>
                        <a href="#">Section 5</a>
                    </li>
                    <li>
                        <a href="#">Section 6</a>
                    </li>
                    <li>
                        <a href="#">Section 7</a>
                    </li>
                    <li>
                        <a href="#">Section 8</a>
                    </li>
                    <li>
                        <a href="#">Section 9</a>
                    </li>
                    <li>
                        <a href="#">Section 10</a>
                    </li>
                    <li>
                        <a href="#">Section 11</a>
                    </li>
                    <li>
                        <a href="#">Section 12</a>
                    </li>
                    <li>
                        <a href="#">Section 13</a>
                    </li>
                    <li>
                        <a href="#">Section 14</a>
                    </li>
                    <li>
                        <a href="#">Section 15</a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="content-top">
                    <p>Content</p>
                </div>
                <div class="content-bottom">
                    <p>Content</p>
                </div>
            </div>
            <div class="left-nav">
                <div class="feature">
                    <p>Feature</p>
                </div>
                <div class="external-link">
                    <p>Links</p>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>

</html>